<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cms_page_data.xsd">
    <cms_pages>
        <cms_page identifier="some-identifier">
            <attribute code="title">Some title</attribute>
            <attribute code="content"><![CDATA[<div>Content here </div>]]></attribute>
            <attribute code="version">1.0.0</attribute>
            <attribute code="store_ids"/>
        </cms_page>
        <cms_page identifier="some-identifier-2">
            <attribute code="title">Some title 2</attribute>
            <attribute code="content_heading">Some content heading 2</attribute>
            <attribute code="content"><![CDATA[<div>Content here 2</div>]]></attribute>
            <attribute code="page_layout">2columns-left</attribute>
            <attribute code="version">1.0.1</attribute>
            <attribute code="store_ids">1,2,3</attribute>
        </cms_page>
    </cms_pages>
</config>
