<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Overdose\CMSContent\File\FileInterface" type="Overdose\CMSContent\File\HtmlFile" />
    <preference for="Overdose\CMSContent\Api\ContentVersionManagementInterface" type="Overdose\CMSContent\Model\ContentVersionManagement"/>
    <preference for="Overdose\CMSContent\Api\ContentVersionRepositoryInterface" type="Overdose\CMSContent\Model\ContentVersionRepository"/>
    <preference for="Overdose\CMSContent\Api\Data\ContentVersionInterface" type="Overdose\CMSContent\Model\Data\ContentVersion"/>
    <preference for="Overdose\CMSContent\Api\Data\ContentVersionSearchResultsInterface" type="Overdose\CMSContent\Model\Data\ContentVersionSearchResults"/>
    <preference for="Overdose\CMSContent\Api\ContentInterface" type="Overdose\CMSContent\Model\Content" />
    <type name="Overdose\CMSContent\Model\Config\Page\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">cms_page_data.xml</argument>
            <argument name="converter" xsi:type="object">Overdose\CMSContent\Model\Config\Page\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Overdose\CMSContent\Model\Config\Page\SchemaLocator</argument>
        </arguments>
    </type>
    <type name="Overdose\CMSContent\Model\Config\Block\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">cms_block_data.xml</argument>
            <argument name="converter" xsi:type="object">Overdose\CMSContent\Model\Config\Block\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Overdose\CMSContent\Model\Config\Block\SchemaLocator</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="od_cms_upgrade_command" xsi:type="object">Overdose\CMSContent\Console\Command\CMSUpgradeCommand</item>
                <item name="import_page" xsi:type="object">Overdose\CMSContent\Command\ImportPage</item>
            </argument>
        </arguments>
    </type>
    <type name="Overdose\CMSContent\Model\ContentVersionManagement">
        <arguments>
            <argument name="backupManager" xsi:type="object">Overdose\CMSContent\Model\BackupManager\Proxy</argument>
            <argument name="blockConfigReader" xsi:type="object">Overdose\CMSContent\Model\Config\Block\Reader\Proxy</argument>
            <argument name="blockInterfaceFactory" xsi:type="object">Magento\Cms\Api\Data\BlockInterfaceFactory\Proxy</argument>
            <argument name="blockRepository" xsi:type="object">Magento\Cms\Api\BlockRepositoryInterface\Proxy</argument>
            <argument name="contentVersionFactory" xsi:type="object">Overdose\CMSContent\Api\Data\ContentVersionInterfaceFactory\Proxy</argument>
            <argument name="contentVersionRepository" xsi:type="object">\Overdose\CMSContent\Api\ContentVersionRepositoryInterface\Proxy</argument>
            <argument name="filterBuilder" xsi:type="object">\Magento\Framework\Api\FilterBuilder\Proxy</argument>
            <argument name="filterGroupBuilder" xsi:type="object">\Magento\Framework\Api\Search\FilterGroupBuilder\Proxy</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
            <argument name="pageInterfaceFactory" xsi:type="object">Magento\Cms\Api\Data\PageInterfaceFactory\Proxy</argument>
            <argument name="pageRepository" xsi:type="object">Magento\Cms\Api\PageRepositoryInterface\Proxy</argument>
            <argument name="pagesConfigReader" xsi:type="object">Overdose\CMSContent\Model\Config\Page\Reader\Proxy</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder\Proxy</argument>
        </arguments>
    </type>
    <type name="Overdose\CMSContent\Observer\CmsSaveBefore">
        <arguments>
            <argument name="backupManager" xsi:type="object">\Overdose\CMSContent\Model\BackupManager\Proxy</argument>
        </arguments>
    </type>
</config>
