<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Overdose_CMSContent::import"
             title="Import"
             module="Overdose_CMSContent"
             sortOrder="9999"
             parent="Magento_Backend::content_elements"
             action="cmscontent/import"
             resource="Overdose_CMSContent::import"/>
    </menu>
</config>
