<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="cmscontent" id="cmscontent">
            <module before="Magento_Backend" name="Overdose_CMSContent"/>
        </route>
    </router>
</config>
